# Ignore everything
*

# Except settings, agents and skills
!agents/
!agents/**
!commands/
!commands/**
!plans/
!plans/**
!profiles/
!profiles/**
!skills/
!skills/**
!hooks/
!hooks/**
!scripts/
!scripts/**
!settings.json
!settings.local.json
!.ignore
!mcp-proxy-servers.example.json
!AGENTS.md

# Keep gitignore and readme
!.gitignore
!README.md

# Ignore Specifics
skills/orbit-*/
skills/azure-devops-*/