# Ignore everything
*

# Except settings, agents and skills
!agents/
!agents/**
!commands/
!commands/**
!skills/
!skills/**
!settings.json
!settings.local.json
!.ignore

# Keep gitignore and readme
!.gitignore
!README.md

# Ignore Specifics
skills/orbit-*/
skills/azure-devops-*/